<div class="container">
    <div class="grid">
        <div class="col-12 genres-links">
            <ng-container *ngIf="genres$ | async as genres">
                <a *ngFor="let genre of genres"  aria-hidden="true"
                 [routerLink]="'/genres/' + genre.id">{{genre.name}}</a>
            </ng-container>
        </div>
    </div>

    <ng-container *ngIf="shows$ | async as showslist">
        <div class="grid">
            <div class="col-2" *ngFor="let show of showslist">
                <app-show-item [showItem]="show" />
            </div>
        </div>
    </ng-container>
</div>
